* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fonts from Google*/
.oswald-h1{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.noto-sans-a{

}
.noto-sans-p{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
/* --- Base Styles --- */
body {
    margin: 0 auto;
    font-family: 'Verdana', sans-serif;
    /*line-height: 1.6;*/
    background-color: #205571;
    /*padding: 1.2rem;*/
}


/* --- Header & Navigation --- */
header {
    text-align: center;
}

header h1 {
    font-size: 2em;
    padding: 1rem;
}

/* --- Main Content Area --- */
main {
    background: #F9F8FF;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
}

div.spacer{
    margin-bottom:5em;
}

div.small-spacer{
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

img.float-left{
    float: left;
    margin-right: .5em;
}
img.float-right{
    float:right;
    margin-left: .5em;

}

.hero {
    display: block;
    max-width: 100%;
    height: auto;
    border: solid black medium;
    border-radius: 50%;
}

#landing-image{
    display: block;
    max-width: 100%;
    height: auto;
    border: solid black thin;
    border-radius: 25%;
}

h2, h3, h4 {
    padding-bottom: 1rem;
    color: #222;
}
/*Styling for headers and paragraphs*/
h1{
    color: #523261;
    font-size: 4em;
    /*margin-top: .5em;*/
    margin: auto 0;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 2%;
}
h2{
    color: #205571;
    margin: auto 0;
    text-decoration: underline #205571;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.8em;
    padding-top: 1%;
}

h3{
    color: #C7C0C7;
    font-size: 25px;
    margin-top: 2.5em;
}

p {
    color: #32021F;
    font-size: 1.35em;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: .5em;

}

.content-wrap {
    max-width: 90%;
    margin: auto;
    overflow: auto;
    padding-left: .3%;
    padding-right: .3%;
}

/* --- Link States --- */
a {
    /*padding: 8px;*/
    color: #1B5299;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    /*font-weight: 500;*/
    font-style: normal;
    font-variation-settings:"wdth" 100;

}

ul li {
    font-size: 1.35em;
    list-style: inside lower-greek;
    margin-bottom: 1rem;
}

.link-target:hover{
    background-color: #1B5299;
    color: white;
    transition:1.5s;
}


a:hover {
    text-decoration: none;
}

/* Classes used to ensure dynamic YouTube video scaling */
.flex-container-video{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
}

/*CSS class for iframe videos*/
/*Lines up NYT video closer to the center of the YT video*/
.iframe-video{
    border:0;
    aspect-ratio: 16/9;
    margin-top:1.25%;
    margin-left:1%;
}
.iframe-video-youtube{
    border:0;
    aspect-ratio: 16/9;
    margin-bottom:1.25%;
    width:89%;
}

#main-nav-container{
    background-color: #1d2a59;
    position: sticky;
    top: 0;
    text-align: center;
}

/*Navbar content and styling*/
#main-nav-contents{
    display: inline-block;
    background: #1d2a59;
}

#main-nav-contents ul{
    /*list-style: none;*/
    margin: 0;
    padding:0;
}

#main-nav-contents li{
    list-style: none;
    float: left;
    border-left:thin solid #bbbbbb;
    margin:0;
    font-size: 1.15em;
}

#main-nav-contents li:last-child{
    border-right:1px solid #bbbbbb;
}

#main-nav-contents li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 1.1em 1.5em;
    text-decoration: none;
    margin: 0;

}

#main-nav-contents li a:hover:not(.active){
    background-color: #111111;
    outline: solid white thin;
    outline-offset: -1px;
    text-decoration: white solid underline;

}

/*Provides more visible focus highlight for user*/
#main-nav-contents li a:focus {
    outline: solid white thin;
    outline-offset: -1px;
    text-decoration: white solid underline;

}

#main-nav-contents .active{
    background-color: #32021F;
}

.accordion-h3{
    background-color: #205571;
    cursor: pointer;
    padding:.5em;
    width: 100%;
    border: double #C7C0C7;
    text-align: left;
    /*outline: double #C7C0C7;*/
    transition: .5s;
    color: #C7C0C7;
    font-size: 1.8em;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.accordion-h3:hover{
    background-color: #32021F;
}
.accordion-h3:focus{
    text-decoration: white double underline ;
}
.h3active{
    background-color: #32021F;
}
/*Change max width for different look*/
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    max-width: 60rem;
    margin: 0 auto;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}